@charset "UTF-8";
* {
  font-family: "Oswald", "微軟正黑體";
}

html, body {
  overflow-x: hidden;
  font-size: 16px;
  margin: 0 px;
  padding: 0 px;
}

header {
  position: relative;
  background-color: #ececec;
  text-align: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
header .icon {
  width: 100%;
  max-width: 250px;
  padding: 250px 0px;
}
header .marginbottom {
  position: absolute;
  width: 105%;
  bottom: 0px;
  right: -20px;
  -webkit-animation: upin 2s both;
          animation: upin 2s both;
}
@-webkit-keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}
@keyframes falling {
  0%,100% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  0% {
    -webkit-transform: translate(100px, 0px);
            transform: translate(100px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 200px);
            transform: translate(0px, 200px);
  }
}
header [class^='stars'] {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #111;
  -webkit-animation: falling 2s infinite;
          animation: falling 2s infinite;
}
header .stars1 {
  position: absolute;
  left: 30%;
  top: 35%;
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}
header .stars2 {
  position: absolute;
  left: 73%;
  top: 26%;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}
header .stars3 {
  position: absolute;
  left: 80%;
  top: -16%;
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
header .stars4 {
  position: absolute;
  left: 65%;
  top: -2%;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
}
header .stars5 {
  position: absolute;
  left: 52%;
  top: 43%;
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}
header .stars6 {
  position: absolute;
  left: 25%;
  top: 17%;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
}
header .stars7 {
  position: absolute;
  left: 32%;
  top: -5%;
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s;
}
header .stars8 {
  position: absolute;
  left: 67%;
  top: 8%;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
}
header .stars9 {
  position: absolute;
  left: 82%;
  top: 29%;
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}
header .stars10 {
  position: absolute;
  left: 4%;
  top: -27%;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
header .stars11 {
  position: absolute;
  left: 95%;
  top: -14%;
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s;
}
header .stars12 {
  position: absolute;
  left: 77%;
  top: 17%;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
}
header .stars13 {
  position: absolute;
  left: 37%;
  top: 35%;
  -webkit-animation-delay: -1.3s;
          animation-delay: -1.3s;
}
header .stars14 {
  position: absolute;
  left: 37%;
  top: 27%;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
}
header .stars15 {
  position: absolute;
  left: 83%;
  top: 42%;
  -webkit-animation-delay: -1.5s;
          animation-delay: -1.5s;
}
header .stars16 {
  position: absolute;
  left: 88%;
  top: 31%;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
}
header .stars17 {
  position: absolute;
  left: 9%;
  top: -24%;
  -webkit-animation-delay: -1.7s;
          animation-delay: -1.7s;
}
header .stars18 {
  position: absolute;
  left: 91%;
  top: -20%;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
}
header .stars19 {
  position: absolute;
  left: 60%;
  top: 34%;
  -webkit-animation-delay: -1.9s;
          animation-delay: -1.9s;
}
header .stars20 {
  position: absolute;
  left: 7%;
  top: -26%;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
header .stars21 {
  position: absolute;
  left: 1%;
  top: 35%;
  -webkit-animation-delay: -2.1s;
          animation-delay: -2.1s;
}
header .stars22 {
  position: absolute;
  left: 75%;
  top: 45%;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
}
header .stars23 {
  position: absolute;
  left: 50%;
  top: 4%;
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
header .stars24 {
  position: absolute;
  left: 46%;
  top: -16%;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
}
header .stars25 {
  position: absolute;
  left: 15%;
  top: 36%;
  -webkit-animation-delay: -2.5s;
          animation-delay: -2.5s;
}
header .stars26 {
  position: absolute;
  left: 60%;
  top: 27%;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}
header .stars27 {
  position: absolute;
  left: 96%;
  top: 38%;
  -webkit-animation-delay: -2.7s;
          animation-delay: -2.7s;
}
header .stars28 {
  position: absolute;
  left: 34%;
  top: 10%;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
}
header .stars29 {
  position: absolute;
  left: 64%;
  top: -11%;
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}
header .stars30 {
  position: absolute;
  left: 94%;
  top: 41%;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}
header .stars31 {
  position: absolute;
  left: 70%;
  top: 47%;
  -webkit-animation-delay: -3.1s;
          animation-delay: -3.1s;
}
header .stars32 {
  position: absolute;
  left: 99%;
  top: -29%;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
}
header .stars33 {
  position: absolute;
  left: 39%;
  top: 2%;
  -webkit-animation-delay: -3.3s;
          animation-delay: -3.3s;
}
header .stars34 {
  position: absolute;
  left: 48%;
  top: -24%;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
}
header .stars35 {
  position: absolute;
  left: 70%;
  top: -17%;
  -webkit-animation-delay: -3.5s;
          animation-delay: -3.5s;
}
header .stars36 {
  position: absolute;
  left: 95%;
  top: -28%;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
}
header .stars37 {
  position: absolute;
  left: 77%;
  top: -21%;
  -webkit-animation-delay: -3.7s;
          animation-delay: -3.7s;
}
header .stars38 {
  position: absolute;
  left: 21%;
  top: -12%;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
}
header .stars39 {
  position: absolute;
  left: 3%;
  top: 47%;
  -webkit-animation-delay: -3.9s;
          animation-delay: -3.9s;
}
header .stars40 {
  position: absolute;
  left: 10%;
  top: 40%;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
header .stars41 {
  position: absolute;
  left: 54%;
  top: -10%;
  -webkit-animation-delay: -4.1s;
          animation-delay: -4.1s;
}
header .stars42 {
  position: absolute;
  left: 86%;
  top: 32%;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
}
header .stars43 {
  position: absolute;
  left: 23%;
  top: -16%;
  -webkit-animation-delay: -4.3s;
          animation-delay: -4.3s;
}
header .stars44 {
  position: absolute;
  left: 81%;
  top: 32%;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
}
header .stars45 {
  position: absolute;
  left: 2%;
  top: 14%;
  -webkit-animation-delay: -4.5s;
          animation-delay: -4.5s;
}
header .stars46 {
  position: absolute;
  left: 55%;
  top: -30%;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}
header .stars47 {
  position: absolute;
  left: 68%;
  top: 35%;
  -webkit-animation-delay: -4.7s;
          animation-delay: -4.7s;
}
header .stars48 {
  position: absolute;
  left: 32%;
  top: 46%;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}
header .stars49 {
  position: absolute;
  left: 27%;
  top: 43%;
  -webkit-animation-delay: -4.9s;
          animation-delay: -4.9s;
}
header .stars50 {
  position: absolute;
  left: 92%;
  top: 16%;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}
@-webkit-keyframes upsidedown {
  0% {
    top: 70%;
  }
  100% {
    top: 72%;
  }
}
@keyframes upsidedown {
  0% {
    top: 70%;
  }
  100% {
    top: 72%;
  }
}
header .explore {
  position: absolute;
  left: 50%;
  top: 80%;
  font-size: 16px;
  color: #111;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  opacity: 0;
  transition: 0.5s;
  -webkit-animation: upsidedown 1s infinite alternate;
          animation: upsidedown 1s infinite alternate;
}
header .explore:after {
  display: block;
  content: "v";
  -webkit-transform: scaleX(1.2) scaleY(0.5);
          transform: scaleX(1.2) scaleY(0.5);
}
header .explore.at_top {
  opacity: 1;
}

nav.navbar {
  transition: 0.5s;
}
nav.navbar a {
  transition: 0.5s;
}

nav.navbar.at_top {
  background-color: #777;
}
nav.navbar.at_top a, nav.navbar.at_top a:visited {
  color: #fff;
}

section {
  padding: 60px 0px;
  position: relative;
}

section#section_about {
  background-color: #f5d061;
}
section#section_about .row {
  height: 150px;
  color: black;
}
section#section_about .row .r1text {
  font-size: 80px;
  transition: 0.1s;
  margin-top: 80px;
}
section#section_about .row .r2text {
  margin: 25px 0px;
  font-size: 35px;
  transition: 0.2s;
}
section#section_about .row .r3text {
  font-size: 50px;
  text-align: right;
  transition: 0.3s;
  margin: 25px 0px;
}
section#section_about .marginbottom {
  position: absolute;
  width: 60%;
  top: calc(100% - 2px);
  z-index: 3;
}
section#section_about .btn-area {
  height: 150px;
}
section#section_about #cat {
  width: 100%;
  max-width: 300px;
  position: absolute;
  right: 0px;
  bottom: -2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
section#section_about #cross {
  position: absolute;
}
section#section_about #cross:before, section#section_about #cross:after {
  content: "";
  display: block;
  width: 60px;
  height: 15px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
section#section_about #cross:after {
  -webkit-transform: translate(-50%, -50%) rotate(136deg);
          transform: translate(-50%, -50%) rotate(136deg);
}
section#section_about .tri {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}
section#section_about .tri1 {
  width: 350px;
}
section#section_about .tri2 {
  width: 20px;
  margin-left: 20px;
}
section#section_about .tri3 {
  width: 150px;
  margin-left: 70%;
}
section#section_about .tri4 {
  width: 70px;
  margin-left: 100%;
}
section#section_about .tri5 {
  width: 80px;
  margin-left: 100%;
}

section#section_service {
  background-color: #ececec;
}
section#section_service .col-sm-12 {
  padding-bottom: 30px;
}
section#section_service .col-sm-3 {
  text-align: center;
  padding-top: 20px;
}
section#section_service h3 {
  color: #e6af2e;
}
section#section_service .icon_service {
  width: 40%;
}
section#section_service .marginbottom1 {
  position: absolute;
  width: 40%;
  bottom: -2px;
  right: -2px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  z-index: 3;
}

section#section_service1 {
  background-color: #ececec;
}
section#section_service1 .col-sm-12 {
  padding-bottom: 30px;
}
section#section_service1 .col-sm-3 {
  text-align: center;
  padding-right: 0px;
}
section#section_service1 .text {
  padding-left: 0px;
  padding-top: 20px;
}
section#section_service1 ul {
  list-style-position: outside;
}
section#section_service1 h3 {
  color: #e6af2e;
}
section#section_service1 h2 {
  color: #333;
  font-size: 16px;
}
section#section_service1 .icon_service {
  width: 40%;
}
section#section_service1 .marginbottom1 {
  position: absolute;
  width: 40%;
  bottom: -2px;
  right: -2px;
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
  z-index: 3;
}

section#section_works {
  background-color: #ececec;
}
section#section_works .marginbottom {
  position: absolute;
  width: 95%;
  top: 100%;
  right: -20px;
  -webkit-animation: upin 2s both;
          animation: upin 2s both;
  z-index: 5;
}
section#section_works .bigimg {
  -webkit-transform: scaleX(0.5) scaleY(0.5);
          transform: scaleX(0.5) scaleY(0.5);
}
section#section_works hr {
  border-color: rgba(0, 0, 0, 0.7);
}
section#section_works .work {
  height: 230px;
  cursor: pointer;
  position: relative;
  padding: 5px;
  overflow: hidden;
}
@media screen and (max-width: 700px) {
  section#section_works .work {
    height: 460px;
  }
}
section#section_works .work.big {
  height: 460px;
}
section#section_works .work:before {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.5s;
  z-index: 5;
}
section#section_works .work .texts {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  z-index: 8;
  opacity: 0;
  transition: 0.5s;
}
section#section_works .work .texts .title {
  line-height: 24px;
}
section#section_works .work:hover:before, section#section_works .work:hover .texts {
  opacity: 1;
}
section#section_works .work img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: auto;
  width: auto;
  z-index: 3;
  opacity: 1;
  transition: 0.5s;
}

section#section_contact {
  background-color: #282f44;
  color: #ececec;
  overflow: hidden;
}
section#section_contact .cat {
  width: 150px;
  position: absolute;
  bottom: 0px;
  transition: 0.3s;
}
section#section_contact #cat_blue {
  right: 240px;
  z-index: 3;
}
section#section_contact #cat_grey {
  right: 100px;
}
section#section_contact #cat_yellow {
  right: 170px;
}
section#section_contact .col-sm-12 {
  width: auto;
  height: 200px;
}
section#section_contact .text {
  font-size: 25px;
}

footer {
  position: relative;
  background-color: #e6af2e;
  text-align: center;
}
footer .icon {
  width: 80%;
  max-width: 250px;
  padding: 80px 0px;
}
