nav.navbar.navbar-default.navbar-fixed-top.at_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#header_index') Ashe Liao
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#section_about') About
        li.active
          a(href='#section_service') Resume
        li
          a(href='#section_contact') Contact
          
    // /.nav-collapse


header#header_index
  .container
    img.icon(src="https://i.imgur.com/6iS7OMq.png", alt="")
    
    img.marginbottom.mountain(src="https://i.imgur.com/HDyYo5d.png", alt="")
    .explore.at_top EXPLORE
    
section#section_about
  img.marginbottom(src="https://awiclass.monoame.com/img/margin/m_about.svg", alt="")
  img#cat(src="https://awiclass.monoame.com/catpic/cat_lefttop.png")
  #cross
  .container
    .row
      .col-sm-8.col-sm-offset-4
        img.tri.tri1(src="https://awiclass.monoame.com/img/webpic/w_tri1.svg", alt="")
        h2.r1text ABOUT ME
    .row
      .col-sm-4
        img.tri.tri2(src="https://awiclass.monoame.com/img/webpic/w_tri2.svg", alt="")
      .col-sm-8
        img.tri.tri3(src="https://awiclass.monoame.com/img/webpic/w_tri3.svg", alt="")
        h3.r2text NTU Economics
        h3.r2text Microsoft Taiwan Technology Center Data&AI Team Intern
        h3.r2text Research Assistant @ NTU Behavior and Data Science Research Center
        h3.r2text Teaching Assistant @ NTU ECON 107-1 Data Science and Social Inquiry
        h3.r2text The Best Prestation Award - Inter-Seminar NTU x QU x KU
        
    .row
      .col-sm-8
      
        h2.r3text If you torture the data long enough, it will confess. - Ronald Coase
    .clearfix
    .row
      .col-sm-4.btn-area
        
        img.tri.tri4(src="https://awiclass.monoame.com/img/webpic/w_tri4.svg", alt="")
      .col-sm-4
        img.tri.tri5(src="https://awiclass.monoame.com/img/webpic/w_tri5.svg", alt="")
section#section_service
  .container
    .row
      .col-sm-12
        h1 Resume & Profile
          
      .col-sm-4
        a(href='https://drive.google.com/file/d/1kg_SbUNyz1LMkrypVl-0jp1eKrxUKWdU/view?usp=sharing' target="_blank") 
          img.icon_service(src="https://i.imgur.com/XkMDWJ4.png", alt="")
        h3 Resume
      .col-sm-4
        a(href="https://github.com/asheliao" target="_blank")
        
          img.icon_service(src="https://i.imgur.com/stMmKZy.png", alt="")
        h3 Github
      .col-sm-4
        a(href="https://www.linkedin.com/in/ashe-liao-5b177113b/" target="_blank")
        
          img.icon_service(src="https://i.imgur.com/NZLz9lr.png", alt="")
        h3 LinkedIn
        
section#section_works
  img.marginbottom.mountain(src="https://awiclass.monoame.com/img/margin/m_works.svg")
  .container#app
    .row(v-if="works.length>0")
      .col-sm-12
        h1 Works
      .col-sm-6.work.big
        img(:src="works[1].img", alt="")
        .texts
          h4.title {{works[1].name}}
          p.content(v-html="works[1].content.substr(0,40)")
      .col-sm-6
        .col-sm-6.work(v-for="w in works.slice(2,6)")
          img(:src="w.img", alt="")
          .texts
            h4.title {{w.name}}     
          
section#section_contact
  img.cat#cat_blue(src="https://awiclass.monoame.com/catpic/cat_blue_cat.png", alt="")
  img.cat#cat_grey(src="https://awiclass.monoame.com/catpic/cat_yellow_cat.png", alt="")
  img.cat#cat_yellow(src="https://awiclass.monoame.com/catpic/cat_grey_cat.png", alt="")
  .container
    .row
      .col-sm-6
        .mails
          .mailcover
            img(src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg", alt="")
          .mailbody
            h5 Dear Yellow Studio
            label Name
            input(type="text")
            label Email
            input(type="text")
            label Content
            textarea
      .col-sm-6
        h2 CONTACT
        br
        p If you have any question about us,<br>Don`t hestitate to contact us !
        br
        br
        p YELLOWSTUDIO@gmail.com<br>ADDRESS: TAIWAN, TAIPEI , XORO Road<br>Phone: 02-12345678
        
footer#footer
  img.icon(src="https://awiclass.monoame.com/img/webpic/w_icon_black.svg")
  