nav.navbar.navbar-default.navbar-fixed-top.at_top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='#header_index') Ashe Liao
    #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#section_about') About
        li
          a(href='#section_service') Resume & Profile
        li
          a(href='#section_service1') Skills
        li
          a(href='#section_works') Works
        li
          a(href='#section_contact') Contact
          
    // /.nav-collapse


header#header_index
  .container
   
    
    .allstars
      .stars1
      .stars2
      .stars3
      .stars4
      .stars5
      .stars6
      .stars7
      .stars8
      .stars9
      .stars10
      .stars11
      .stars12
      .stars13
      .stars14
      .stars15
      .stars16
      .stars17
      .stars18
      .stars19
      .stars20
      .stars21
      .stars22
      .stars23
      .stars24
      .stars25
      .stars26
      .stars27
      .stars28
      .stars29
      .stars30
      .stars31
      .stars32
      .stars33
      .stars34
      .stars35
      .stars36
      .stars37
      .stars38
      .stars39
      .stars40
      .stars41
      .stars42
      .stars43
      .stars44
      .stars45
      .stars46
      .stars47
      .stars48
      .stars49
      .stars50

      
    img.icon(src="https://i.imgur.com/6iS7OMq.png", alt="")
    
    
    //- img.marginbottom.mountain(src="https://i.imgur.com/HDyYo5d.png", alt="")
    
    .explore.at_top EXPLORE MORE
    
section#section_about
  img.marginbottom(src="https://awiclass.monoame.com/img/margin/m_about.svg", alt="")
  img#cat(src="https://awiclass.monoame.com/catpic/cat_lefttop.png")
  //#cross
  .container
    .row
      .col-sm-8.col-sm-offset-4
        img.tri.tri1(src="https://awiclass.monoame.com/img/webpic/w_tri1.svg", alt="")
        h2.r1text ABOUT ME
    .row
      .col-sm-4
        img.tri.tri2(src="https://awiclass.monoame.com/img/webpic/w_tri2.svg", alt="")
      .col-sm-8
        img.tri.tri3(src="https://awiclass.monoame.com/img/webpic/w_tri3.svg", alt="")
        h3.r2text NTU Economics 
        h3.r2text Microsoft Taiwan Technology Center Data&AI Team Intern
        h3.r2text Research Assistant @ NTU Behavioral and Data Science Research Center
        h3.r2text Teaching Assistant @ NTU ECON 107-1 Data Science and Social Inquiry
        h3.r2text The Best Presentation Award - Inter-Seminar NTU x QU x KU
        
    .row
      .col-sm-8
      
        h2.r3text If you torture the data long enough, <br>it will confess. - Ronald Coase
    .clearfix
    .row
      .col-sm-4.btn-area
        
        img.tri.tri4(src="https://awiclass.monoame.com/img/webpic/w_tri4.svg", alt="")
      .col-sm-4
        img.tri.tri5(src="https://awiclass.monoame.com/img/webpic/w_tri5.svg", alt="")
section#section_service
  .container
    .row
      .col-sm-12
        h1 Resume & Profile
        hr
      .col-sm-3
        a(href='https://drive.google.com/file/d/19BCcffx4T9DQMXGCm0OCHxZAt1-gHDsp/view?usp=sharing' target="_blank") 
          img.icon_service(src="https://i.imgur.com/FCFlT23.png", alt="")
        h3 Resume
      .col-sm-3
        a(href="https://github.com/asheliao" target="_blank")
        
          img.icon_service(src="https://i.imgur.com/stMmKZy.png", alt="")
        h3 Github
      .col-sm-3
        a(href="https://www.linkedin.com/in/ashe-liao-5b177113b/" target="_blank")
        
          img.icon_service(src="https://i.imgur.com/NZLz9lr.png", alt="")
        h3 LinkedIn
      .col-sm-3
        a(href="https://medium.com/@asheliao" target="_blank")
        
          img.icon_service(src="https://i.imgur.com/IgS1sVw.png", alt="")
        h3 Medium  
    
section#section_service1
  .container
    .row
      .col-sm-12
        h1 Skills
        hr  
      .col-sm-3
        
        img.icon_service(src="https://i.imgur.com/UAgAukR.png", alt="")
        h3 Python
        h2 Data Analysis <br> Machine Learning <br> Algorithmic Trading
      .col-sm-3.text
        ul <b>Data & AI team Intern</b> <br>@ Microsoft Taiwan MTC
        ul <b>Speech Giver</b> <br> @ Data Science Inter-Seminar <br> with Kyushu Univ. & Kyoto Univ.
        ul <b>Keynote Speaker</b> <br> @ Coding & Co-working Club NTU
      .col-sm-3
        
        img.icon_service(src="https://i.imgur.com/6hirQur.png", alt="")
        h3 R
        h2 Data Analysis <br> Sentiment Analysis with GCP <br> 
      .col-sm-3.text
        ul <b>Teaching Assistant</b> <br> @ 107-1 Data Science and Social Inquiry course NTU
        ul <b>Research Assistant</b> <br> @ NTU Behavioral and Data Science Research Center
      
      img.marginbottom1(src="https://awiclass.monoame.com/img/margin/m_about.svg", alt="")
        
section#section_works
  img.marginbottom.mountain(src="https://awiclass.monoame.com/img/margin/m_works.svg")
  .container#app
    .row
      .col-sm-12
        h1 Works - In School
      .col-sm-6.work.big.left
        img.bigimg(src="https://i.imgur.com/YERHKUG.jpg", alt="")
        .texts
          h4.title The Best Presentation Award
          p.content Earned The Best Presentation Award in the inter-seminar. <br> My semainar paper, Portfolio Optimization and Algorithmic Trading with Python, has been recognized for the most outstanding presentation in the joint seminar QU x KU x NTU at Kyushu University.
      .col-sm-6.work.big.right
        
        img(src="https://media.licdn.com/media-proxy/ext?w=800&h=800&f=n&hash=9ByosfuG84i840dnLvX%2FF%2B6KpEE%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6jnhodx1Ey9KGTqAGj6E5DQJHUA3L0CHH05IbfPWjgf8XaKLSkpUASK34DjQAxf-m1EWPnEI7of426KYoj3cOzcJD5agYUbhl4j3lK6w", alt="")
        .texts
          h4.title Keynote Speaker
          p.content Present in front of 120 attendents. Lecture Topic: Data analysis and Stock market analysis with Python. <br>Poltting MACD, bollienger bands with Python to predict the boom and bust of stock market.
      .col-sm-6.work.big.left
        
        img(src="https://media.licdn.com/media-proxy/ext?w=800&h=800&f=n&hash=oUur5f3cb71QThNhj4GSQy5A%2FQQ%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6jnhodx1Ey9KGTqAGj6E5DQJHUA3L0CHH05IbfPWjgfsfZfrr3rEAUf34FjQBme--1EWbiEo7uKdu8eIkijcXsdcT5agYUbhl4lWdI", alt="")
        .texts
          h4.title Speech Giver & Liaison
          p.content I particiated in two seminars with Kyushu University and Kyoto University, and arranged one held in NTU. <br> I presented my seminar paper in both seminars. "Handwriting Recognition with Machine Learning Techniques and OpenCV" and "Portfolio Optimization and Algorithmic Trading with Python"
      .col-sm-6.work.big.right
        
        img(src="https://media.licdn.com/media-proxy/ext?w=800&h=800&f=n&hash=mUGqIsOvh3%2FNhCt55GyI%2FeqIVww%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6jnhodx1Ey9KGTqAGj6E5DQJHUA3L0CHH05IbfPWjtLJHeKLTy9UAeKy0DjQAyd--1SDW0G46-ItjuKIp32cG2JcT5agYUbhl4j3lK6w", alt="")
        .texts
          h4.title TA & RA in NTU
          p.content 107-1 NTU ECON Data Science and Social Inquiry Teaching Assistant <br> Research Assistant in Department of Economics
      .col-sm-12
        
      .col-sm-12
        h1 Works - In Microsoft
      .col-sm-6.work.big
        img.bigimg(src="https://thumbs-prod.si-cdn.com/dYwPsT5wmW8Bma2nl3w9gHgoTxs=/800x600/filters:no_upscale():focal(906x2885:907x2886)/https://public-media.smithsonianmag.com/filer/51/03/510375ea-35a3-4c03-822d-e7afdd2a7b52/36a_aug2017_option1dji_live.jpg", alt="")
        .texts
          h4.title Drone Object Detection
          p.content Develop object detection on DJI drone with camera. <br> Using Microsoft Custom Vision to train an object detection model to detect broken holes on fuel pipeline. 
      .col-sm-6.work.big
        
        img(src="https://i.imgur.com/WPyFRfE.png", alt="")
        .texts
          h4.title Object Fall Down Detection
          p.content Detect object with Microsoft CNTK and use JavaScript to calcualte the slope of bounding box. <br> If object is falling down, send a warning messege. 
    
      
       
      
          
section#section_contact
  img.cat#cat_blue(src="https://awiclass.monoame.com/catpic/cat_blue_cat.png", alt="")
  img.cat#cat_grey(src="https://awiclass.monoame.com/catpic/cat_yellow_cat.png", alt="")
  img.cat#cat_yellow(src="https://awiclass.monoame.com/catpic/cat_grey_cat.png", alt="")
  .container
    .row
      .col-sm-12
        p.text The curious task of economics is to demonstrate to men <br> how little they really know about what they imagine they can design. <br> - Friedrich August von Hayek
        
        
footer#footer
  img.icon(src="https://i.imgur.com/6iS7OMq.png")
  p Icons made from www.flaticon.com is licensed by CC 3.0 
  